<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- Block all direct access to the app folder -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="vendor" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Remove server identity headers -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>